{
  "parser": "@typescript-eslint/parser",
  "extends": ["airbnb-base", "prettier", "plugin:react/recommended"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "plugins": [],
  "rules": {
    "import/no-unresolved": 0,
    "import/prefer-default-export": 0,
    "no-unused-vars": [
      "error",
      {
        "vars": "local",
        "args": "none"
      }
    ],
    "no-plusplus": "off",
    "no-underscore-dangle": "off"
  },
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.ts"],
      "parser": "@typescript-eslint/parser",
      "extends": ["plugin:@typescript-eslint/recommended"],
      "env": {
        "browser": true,
        "node": true,
        "es6": true,
        "jest": true
      },
      "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
      },
      "plugins": ["react", "@typescript-eslint"],
      "settings": {
        "react": {
          "version": "detect"
        }
      }
    }
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
